// main: style.scss

.ms-main {
    &__footer {
        background-color: $primary;
        color: whitesmoke;
        padding: 1.5rem 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        p {
            text-align: center;
        }
    }
}