// main: style.scss

.ms-main {
    &__header {
        background-color: darken(#282C34, 2);
        position: relative;
        color: whitesmoke;
        padding: 0 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        img{
            width: 70px;
            margin-right: 20px;
        }
        h3{
            font-size: 3rem;
            margin: 0;
        }

    }
}