// main: style.scss
.ms-main{
  position: relative;

  &__theme-picker{
    display: none;
    background-color: #3c424f;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
    img{
      margin: 0 10px;
      max-width: 200px;
      cursor: pointer;
    }
  }
  .showSlide{
    display: block;
    margin: 0 auto;
    background-color: #24272e;
    border: none;
    color: white;
    width: 130px;
    border-radius: 0 0 30px 30px;
    cursor: pointer;

    &:focus, &:active{
      border: none;
      outline: none;
    }
  }

}