// main: style.scss
.ms-main{
  position: relative;

  &__theme-picker{
    display: none;
    background-color: #3c424f;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
    box-shadow: inset 0px 5px 5px 0px rgba(20, 20, 20, 0.75);
    img{
      margin: 0 10px;
      max-width: 200px;
      cursor: pointer;
    }
  }
  .showSlide-wrap{
    width: 100%;
    border-top: 4px solid #27aae1;
  }
  .showSlide{
    display: block;
    margin: 0 auto;
    padding: 1px 15px;
    background-color: #27aae1;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    min-width: 155px;
    border: none;
    border-radius: 0 0 30px 30px;
    cursor: pointer;
    
    &:focus, &:active{
      border: none;
      outline: none;
    }
  }

}