// main: style.scss
.preview-col{
  display: flex;
  flex-direction: column;

  .copy-btn{
    display: block;
    background: #24272e;
    color: white;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.75rem;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
