// main: style.scss

$primary: #282C34;


html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    @media (min-width: 576px) {
        padding: 0 30px;
    }

    @media (min-width: 768px) {
        padding: 0 60px;
    }
}